.landing_page{
    height: 90vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
}


.landing_page .left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    box-sizing: border-box;
    overflow: hidden;
}

.landing_page .right{
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.landing_page .right .doctor_image{
    height: 100%;
    width: auto;

}

.landing_page .left .title{
    height: auto;
    width: auto;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 51px;
    margin-bottom: 10px;
}

.landing_page .left .description{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.landing_page .left .services_button{
    color: white;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    height: 50px;
    width: 150px;
    outline: none;
    text-decoration: none;
    border: 0px solid;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(to right,#259AFC,#5cb6ff);
}

.landing_page .left .services_button:hover{
    background: linear-gradient(to left, #259AFC, #5cb6ff);
    
}

.landing_page .left .services_button .linkservice{
    text-decoration: none;
    color: white;
}