.navbar{
    height: 10%;

    width: 100%;
    background-color: white;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 1px 1px 10px);
    z-index: 1000;
}

.navbar .sectionf{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar .sectionf .title{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    padding-left: 60px;
}

.navbar .sectionf .items{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    text-decoration: none;
    list-style: none;
}

.navbar .sectionf .items .item{
    padding-right: 60px;
    text-decoration: none;
    outline: none;
    border: 0px;
    height: auto;
    width: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.navbar .sectionf .items .item .link:hover{
    color: #259AFC;
}

.navbar .items .item .link{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.navbar .sections{
    display: none;
}

@media screen and (max-width:720px) {
    .navbar .sectionf{
        display: none;
    }

    .navbar .sections{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navbar .sections .title{
        margin: 0px;
        width: auto;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        padding: 0px;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
        
    }

    .navbar .sections .outerbuttonsection{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .sections .outerbuttonsection .smallnav{
        outline: none;
        border: 0px solid;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        aspect-ratio: 1/1;
        cursor: pointer;
    }

    .navbar .sections .outerbuttonsection .profiledetails{
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: white;
        position: absolute;
        border: 0px solid;
        border-bottom-left-radius: 15px;
        width: 40vw;
        height: auto;
        top: 100%;
        right: 0%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        overflow: hidden;
    }

    .slide-in-right {
        display: flex;
	-webkit-animation: slide-in-right 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

        @-webkit-keyframes slide-in-right {
            0% {
                -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
                opacity: 0;
            }
    
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
        }
    
        @keyframes slide-in-right {
            0% {
                -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
                opacity: 0;
            }
    
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
        }

    .slide-out-right {
        -webkit-animation: slide-out-right 0.75s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: slide-out-right 0.75s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }

        @-webkit-keyframes slide-out-right {
            0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
    
            100% {
                -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
                opacity: 0;
            }
        }
    
        @keyframes slide-out-right {
            0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
    
            100% {
                -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
                opacity: 0;
            }
        }
    .navbar .sections .outerbuttonsection .profiledetails .item{
                text-decoration: none;
                padding-top: 5px;
                padding-bottom: 5px;
                outline: none;
                border: 0px;
                height: auto;
                width: auto;
                background-color: transparent;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-top: 5px;
                margin-bottom: 5px;
    }

        .navbar .sections .outerbuttonsection .profiledetails .item .link{
            font-size: 15px;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-style: normal;
            text-decoration: none;
            color: black;
            
        }
        .navbar .sections .outerbuttonsection .profiledetails .item .link:hover{
                color: #259AFC;
        }

}