.user{
    height: auto;
    position: absolute;
    top: 10%;
    padding-top: 50px;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user .profile_sec{
    height: 300px;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #259AFC;
    border-radius: 20px;
    filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 10px);
}

.user .profile_sec .profile_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
}
.user .profile_sec .profile_image .img{
    height: 250px;

    width: 250px;
    background-color: aliceblue;
    border-radius: 50%;
}

.user .profile_sec .profile_details{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
}

.user .profile_sec .profile_details .profile_desc{
    color: white;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

.user .chart{
    width: 90vw;
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.user .chart .line{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-bottom: 20px;
}

.toggle{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toggle .toggle_section{
    width: 550px;
    height: 75px;
    background-color: aliceblue;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 0px 5px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

.toggle .toggle_section .toggle_text{
    width: 400px;
    height: 50px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
    border-radius: 10px;
    margin-right: 10px;
}

.toggle .toggle_section .toggle_submit{
    cursor: pointer;
        border-radius: 15px;
        border: 0px;
        height: 45px;
        width: 100px;
        background-color: #5cb6ff;
        font-size: 15px;
        color: white;
        font-weight: 600;

}